table {
  width: 100%;
}

th, td {
  text-align: center;
  padding: 10px;
}

ul li {
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  width: 130px;
}

a::before {
  content: "\27A4";
  color: white;
}

img {
  border-radius: 10px;
  width: 200px;
}

#list {
  padding: 5px;
  background: #3399ff;
  border-radius: 10px;
}

.row {
  margin: 10px;
}

h1 {
  text-align: center;
  background-color: red;
  color: white;
}

@media (min-width:600px) {
  h1::before {
    content: "BIENVENIDOS A LA BIOGRAFIA DE PEDRO JOSE ALONZO";
  }
}

@media (max-width:599px) {
  h1::before {
    content: "BIENVENIDOS";
  }
}
