table {
  width: 100%;
}

th, td {
  text-align: center;
  padding: 10px;
}

ul li {
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  width: 130px;
}

a::before {
  content: "\27A4";
  color: blue;
}

a {
  color: red;
}

img {
  border-radius: 10px;
  width: 200px;
}

#list {
  padding: 5px;
  background: #3399ff;
  border-radius: 10px;
}

.row {
  margin: 10px;
}
