table {
   width: 100%;
   border: 1px solid #000;
   border-collapse: collapse;
   font: 15px Arial, sans-serif;
}
th, td {
   text-align: center;
   border: 1px solid #000;
   padding: 10px;
}
ul li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}
.lista{
  padding: 20px;
  background: #3399ff;
  font: 15px Arial, sans-serif;
}
.imagen{
  width: 200px;
}
